@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .font-42 {
    font-family: "IBMPlexSansKR-Regular";
  }
  .font-42-md {
    font-family: "IBMPlexSansKR-Medium";
  }
  .font-42-sb {
    font-family: "IBMPlexSansKR-SemiBold";
  }
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("../public/assets/fonts/IBMPlexSansKR-Regular.ttf");
}
@font-face {
  font-family: "IBMPlexSansKR-Medium";
  src: url("../public/assets/fonts/IBMPlexSansKR-Medium.ttf");
}
@font-face {
  font-family: "IBMPlexSansKR-Bold";
  src: url("../public/assets/fonts/IBMPlexSansKR-SemiBold.ttf");
}
